.registerContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: auto;
    margin-top:50px;
    flex-direction: column;
}
.registerContainer h2
{
    font-size: 22px;
    font-weight:600;
    color: coral;
}
.registerForm
{
    margin-top:30px;
    border: 1px solid #3333;
    width:350px;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.option
{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
}
.registerForm button
{
    width:80%;
    margin-top:20px;
    border: none;
    background-color: #F94F0F;
    height:30px;
    color: white;
    font-size: 15px;
}
.option label
{
    text-align:left;
    margin-left: 20px;
 
}