.FooterContainer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:auto;
    background-color: #333333;
    color: white;
    flex-direction:column;
    margin-top:40px;
}
.FooterContainer .navigationMenuFooter
{
    display: flex;
   
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    margin-top:50px;

    height: auto;
}
.FooterContainer .navigationMenuFooter .menu
{
    text-align: justify;
    font-size:18px;
    height: 200px;
}
h6
{
    margin-top: 10px;
}
.socialNetworkBarFooter
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:300px;
}
.socialNetworkBarFooter img
{
  filter: invert(100%);
}
@media screen and (max-width:480px) {
    .FooterContainer
    {
        display: flex;
        flex-direction: column;
        width: 120%;
    }
   .navigationMenuFooter
   {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-left: 20px;
   }
   .navigationMenuFooter .menu
   {
    margin-top: 50px;
    margin-right: 0px;
   }
   .menu h6
   {
    font-size: 7px;
   }
   .socialNetworkBarFooter
   {
  margin-bottom: 10px;
   }
}